@inherits LayoutComponentBase

<div class="page @(IsHomePage() ? "home-page" : "")">
	<NavMenu />
    
	<main class="main-content">
		<div class="content-container @(ShouldApplyFormStyles() ? "form-page" : "")">
			@Body
		</div>
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>

@code {
	private bool IsHomePage()
	{
		var uri = NavigationManager.Uri;
		return uri.EndsWith("/") || uri.EndsWith(NavigationManager.BaseUri.TrimEnd('/'));
	}
    
	private bool ShouldApplyFormStyles()
	{
		var uri = NavigationManager.Uri;
		var baseUri = NavigationManager.BaseUri;
        
		return !(uri == baseUri || 
		         uri == $"{baseUri}Account/Login" || 
		         uri == $"{baseUri}Account/Register");
	}
    
	[Inject] private NavigationManager NavigationManager { get; set; }
}