@using Microsoft.AspNetCore.Identity
@using QuickRoute.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link text-white fw-bold" href="Account/Manage" Match="NavLinkMatch.All">Perfil</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white fw-bold" href="Account/Manage/ChangePassword">Contraseña</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link text-white fw-bold" href="Account/Manage/ExternalLogins">Inicios externos</NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link text-white fw-bold" href="Account/Manage/TwoFactorAuthentication">Autenticación en dos pasos</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white fw-bold" href="Account/Manage/PersonalData">Datos personales</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}