@page "/Contactos/Delete/{ContactoId:int}"
@inject ContactosService contactosService
@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Eliminar Contacto</h5>
        </div>
        
        @* Mensaje de error *@
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger m-3">
                @errorMessage
            </div>
        }
        
        @*Datos y botones*@
        <div class="card-body">
            <p><strong>ContactoId:</strong> @Contacto.ContactoId</p>
            <p><strong>Nombre:</strong> @Contacto.Nombre</p>
            <p><strong>Email:</strong> @Contacto.Email</p>
            <p><strong>Telefono:</strong> @Contacto.Telefono</p>

            <div class="card-footer text-center mt-2">
                <a href="/Contactos/Index" class="btn btn-outline-secondary">
                    <span class="bi bi-arrow-left"></span> Cancelar
                </a>
                <button class="btn btn-outline-danger" @onclick="Eliminar">
                    <span class="bi bi-trash"></span> Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ContactoId { get; set; }

    private Contactos Contacto { get; set; } = new Contactos();
    private string errorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Contacto = await contactosService.Buscar(ContactoId);
    }

    public async Task Eliminar()
    {
        var result = await contactosService.Eliminar(Contacto.ContactoId);
        
        if (result.Success)
        {
            navigationManager.NavigateTo("/Contactos/Index");
        }
        else
        {
            errorMessage = result.Message;
            StateHasChanged(); 
        }
    }
}